@font-face {
  font-family: "main";
  src: url(/fonts/GeistMono-Medium.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "display";
  src: url(/fonts/Eunomia-Regular.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
}

:root {
  /* --0primary: #d9d9d9; */
  /* --0background: rgb(9, 9, 9); */
  /* --0special: rgba(9, 9, 9, 0.92); */
  --0primary: #b0b0b5;
  --0background: #171717;
  --0special: rgba(23, 23, 23, .92);
  /* --0secondary: rgb(206, 255, 83); */
  /* --0secondary: rgb(209, 248, 111); */
  --0secondary : rgb(253, 74, 83);
  --0surface: rgb(40, 37, 37);


  /* --1primary: #090909; */
  /* --1background: white; */
  /* --1special: rgba(255, 255, 255, 0.92); */
  --1primary: #30303c;
  /* --1background: #f0f0f0; */
  --1background: #f3f3f3;
  --1background: #dcdcdc;
  --1background: #cececece;
  --1secondary: rgb(255, 47, 0);
  --1secondary: rgb(241, 16, 23);
  --1secondary: rgb(216, 21, 27);
  --1secondary-onprimary: rgb(251, 91, 96);
  --1special: rgba(219, 219, 219, .92);
  --1surface: rgb(248, 247, 244);
  
  --color1: rgb(216, 21, 27);
  --color1: #E3F0BD;
  --color1: rgb(168, 32, 36);
  --color1: #dae7b2;
  --color1: var(--primary);
  
  --background: var(--1background);
  --primary: var(--1primary);
  --special: var(--1special);
  --secondary: var(--1secondary);
  --surface: var(--1surface);
  --outline: var(--1outline);

  --scrollbar1: var(--background);
  --scrollbar2: var(--primary);
  --scrollbar3: var(--primary);

  
  --three-color-ambientLight: rgb(18, 18, 18);
  --three-color-background: #dcdcdc;
  --three-color-mesh: rgb(208, 207, 207);
  --three-color-mesh-emissive: rgb(165, 165, 165);

  /* --three-color-ambientLight: rgb(124, 124, 124);
  --three-color-background: #dcdcdc;
  --three-color-mesh: rgb(30, 30, 30);
  --three-color-mesh-emissive: rgb(15, 15, 15); */

  --margin: 2rem;
  --transitionParams: 750ms cubic-bezier(0.13, 0.03, 0, 0.99);
  --projectLinksColumns: 3;
  --paddingButton: 0.4rem 0.4rem;

  --scrollBarW: 0px;
  --navWidth: 3.5rem;
  --margin-right: calc(var(--margin) - var(--scrollBarW));
  /* --margin-right: calc(var(--margin)); */
  --margin-left:  calc(var(--margin) + var(--navWidth));
  --margin-left:  calc(var(--navWidth));
  --scrollY: 0px;
  
  --fontsize-xs: 0.7rem;
  --fontsize-s: 1rem;
  --fontsize-m: 1rem;
  --fontsize-l: 2rem;
  --fontsize-xl: 4rem;
  --fontsize-xxl: 32rem;

  --layout-template-columns: repeat(12, 1fr);
  --layout-column-gap: 0.5rem;

  --projectNameSizeFactor: 1;

}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
*::selection {
  color: var(--background);
  background-color: var(--primary);
  /* background-color: white; */
}
html {
  /* background: var(--background); */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  /* scrollbar-color: var(--scrollbar2) var(--scrollbar1); */
}
/* html::-webkit-scrollbar {
  background-color:var(--scrollbar1);
}
html::-webkit-scrollbar-thumb {
  border-radius: 8px;
  box-shadow: inset 0 0 10px 10px var(--scrollbar2);
  border: solid 3px transparent;
}
html::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 10px 10px var(--scrollbar3);
} */

body {
  
  background-color: var(--background);
  background-color: rgb(192, 192, 192);
  color: var(--primary); 
  font-family: Monospace;
  font-family: Main, Monospace;
  font-weight: 400;
  margin: 0;
  overflow-x: hidden;
  font-size: 0.88rem;
  letter-spacing: 0.04rem;
  transition: background var(--transitionParams);
  text-transform: uppercase;
  /* overflow-y: scroll; */
  font-size: var(--fontsize-m);
}

#layout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  opacity: 0.1;

  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  column-gap: var(--layout-column-gap);
  padding: 0 var(--margin);
  pointer-events: none;
}

#layout > div {
  /* background: rosybrown; */
}

main, header {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

nav {
  position: fixed;
  z-index: 300;
  display: grid;
  flex-direction: column;
  grid-template-columns: 1fr;
  justify-content: center;
  height: 100%;
  width: var(--navWidth);
  visibility: visible;
  transition: transform var(--transitionParams);
  transform: translateX(0%);
  pointer-events: none;
  padding: 0.25rem;
}
nav.hidden {
  transform: translateX(-200%);
  visibility: hidden;
}
nav a, nav button {
  align-self: start;
  height: 12rem;
  width: 100%;
  /* margin: 0 1rem; */
  
  display: flex;
  align-items: center;
  pointer-events: auto;
}

nav a {
  display: flex;
  justify-content: space-between;
}
nav a::after {
  content: "→";
  align-items: center;
  visibility: visible;
}
a, button {
  font-family: inherit;
  z-index: 200;
  color: currentColor;
  text-decoration: none;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: var(--fontsize-s);
  padding: 0.1rem;
  text-transform: uppercase;
  width: fit-content;
  user-select: none;
}

h1 {
  position: absolute;
  visibility: hidden;
  font-weight: 500;
}
h3 {
  font-weight: 500;
}
section {
  /* position: absolute; */
  padding: var(--margin);
  padding-right: var(--margin-right);
  padding-left: var(--margin-left);
  width: 100%;
  transition: opacity 400ms;
}
/* section.disabled {
  position: fixed;
  top: calc(0px - var(--scrollY));
  left: 0;
  overflow: hidden;
  pointer-events: none;   
} */
section.disabled, footer.disabled {
  position: fixed;
  left: 0;
  overflow: hidden;
  pointer-events: none;   
}

p, h2, h3 {
  margin: 0;
}

nav > a, #audioSwitch span {
  text-orientation: mixed;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-size: var(--fontsize-s);
  padding: 1rem 0.5rem;

  /* border: 2px solid var(--primary); */
}
.projectContentLinks {
  font-size: var(--fontsize-s);
  padding: 1rem;
  height: 3rem;
  display: flex;
  align-items: center;
  /* border: 2px solid var(--primary); */
}

/* home */
section.fk {
  opacity: 0;
}

#hero {
  display: flex;
  min-height: calc(100vh - var(--margin) * 2);
  width: 100%;
  grid-template-rows: repeat(5, max-content);
  row-gap: 0.25rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#hero > * {
  text-transform: none;
}
#hero > * > *:nth-child(1) {
  font-family: display;
  text-transform: uppercase;
  font-size: var(--fontsize-xl);
  display: flex;
  flex-direction: row;
}


section.fk article {
  margin-top: 90rem;
  margin-bottom: 75rem;
  /* --padding-top: 24rem; */
  height: fit-content;

  display: grid;
  grid-template-columns: var(--layout-template-columns);
  column-gap: var(--layout-column-gap);
}
section.fk article h3 {
  align-self: center;
}

section.fk article > * {
  grid-column: 5/9;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: 2px solid var(--primary);
  padding: 1rem;
}

section.fk article > * > * {
  /* grid-row-start: 1; */
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  text-transform: none;
}

#homeLinks {
  height: 32rem;
}
#homeLinks a {
  /* font-family: display; */
  letter-spacing: -0.08em;
  justify-content: space-between;
  display: flex;
  font-size: clamp(1rem, 20vw, 16rem);
  /* font-size: 4rem; */
  overflow: hidden;
  text-transform: uppercase;
  width: 100%;
  color: var(--color1);
  border-top: 2px solid var(--color1);
  border-bottom: 2px solid var(--color1);
}
#homeLinks a:nth-child(1) {
  border-bottom: none;
}
.scrolling-text {
  flex-shrink: 0;
  margin: 0;
  min-width: 100%;
  white-space: nowrap;
  animation-name: scrollingText;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#homeLinks a:hover .scrolling-text {
  animation-play-state: paused;
}

@keyframes scrollingText {
  from { transform: translateX(0); }
  to { transform: translateX(-100%); }
}

/* section.fk article .container {
  position: relative;
  height: 200vh;
  display: flex;
  margin-top: var(--padding-top);
}
section.fk article .container:nth-child(1) {
  grid-column: 2/7;
  grid-row-start: 1;
}
section.fk article .container:nth-child(2) {
  grid-column: 7/12;
  grid-row-start: 2;
}
section.fk article .container:nth-child(3) {
  grid-column: 3/8;
  grid-row-start: 3;
}

section.fk article .content {
  margin: 0;
  height: fit-content;
  top: var(--padding-top);
  opacity: 1;
  
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
section.fk article .content .glyph {
  font-size: var(--fontsize-xxl);
  font-family: display;
  color: var(--color1);
}
section.fk article .content h3 {
  display: none;
}
section.fk article .content p {
  border: 2px solid var(--primary);
  padding: 0.75rem;
} */
/* colorbutton */

#colorButton {
  z-index: 200;
  position: fixed;
  top: calc(var(--margin) + 1px);
  right: calc(var(--margin-right) + 4vw + 4rem);
  width: 1.3rem;
  height: 1.3rem;
  height: calc(0.75rem + 0.2 rem * 2);
  transition: border-color var(--transitionParams);
  background: none;
}
#colorButton::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  background-color: var(--primary);
  height: 1px;
  background-color: var(--primary);
  transition: background var(--transitionParams);
}
#colorButton::after {
  content: '';
  display: block;
  position: absolute;
  width: 8px;
  top: -1px;
  left: 2px;
  background-color: var(--background);
  border: 1px solid var(--primary);
  height: calc(100% - 2px);
  height: 100%;
  height: 100%;
  transition: background var(--transitionParams), transform var(--transitionParams);
}
#colorButton.up::after {
  left: calc(1.3rem - 8px - 4px);
}


/* Projects */


#projectsTitle {
  position: absolute;
  font-size: 0;
  visibility: none;
}

section.projects {
}
section.projects h3 {
  font-weight: 400;
  margin-bottom: 1rem;
  display: none;
}

.projectName {
  display: flex;
  text-transform: uppercase;
  font-size: 0;
  letter-spacing: 0;
  text-align: center;
  /* font-family: display; */
  /* color: #b12d26; */
  /* color: #2632b1; */
  color: var(--color1);
  
  /* test */
  /* position: fixed;
  z-index: -1;
  top: calc(50% - 34vh * 0.5) ;
  top: 0;
  width: 80vw;
  margin: 0 10vw;
  left: 0; */
}
.projectName > *:not(.typeTag) {
  font-size: clamp(2rem, calc(25vw * var(--projectNameSizeFactor)), 100vw);
  /* font-size: clamp(2rem, calc(35vw * var(--projectNameSizeFactor)), 150vw); */
  /* font-size: clamp(2rem, calc(50vw * var(--projectNameSizeFactor)), 150vw); */
}

.projectName .mask {
  line-height: 11rem;
  max-height: 11rem;
  justify-content: center;
  align-items: center;
  margin-left: 0 !important;

  /* test */
  /* max-height: 34vh;
  height: 34vh; */
}

a.backLink {
  display: flex;
  margin-bottom: 2rem;
  text-align: center;
  transition: color var(--transitionParams);
  width: fit-content;
  height: 1.5rem;
  align-items: center;
}

.backLink > span > div {
  padding: var(--paddingButton);
}
#projectLinks {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: var(--layout-template-columns);
  column-gap: var(--layout-column-gap);
  row-gap: var(--layout-column-gap);
}

#projectLinksList {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 13;
  grid-template-columns: repeat(12, 1fr);
  column-gap: var(--layout-column-gap);
  row-gap: var(--layout-column-gap);
  opacity: 0;
  padding-bottom: 6rem;
  width: 100%;
  transition: opacity 400ms;
  grid-auto-rows: 1fr;
  /* border: 1px solid blue; */
}

#projectLinksList.fadeIn {
  animation: fadeIn 400ms;
}
#projectLinksList.scaledDown {
  /* transform: scale(1.04); */
}
/* #projectLinksList.scaledDown svg {
  visibility: hidden;
} */

a.projectLink, a.hyperLink  {
  position: relative;
  width: 100%;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: var(--fontsize-m);
  padding: 1rem;
}
a.projectLink .text, a.hyperLink .text {
  display: flex;
  flex-direction: column;
  /* gap: auto; */
  justify-content: space-around;
  height: 100%;
}

a.projectLink .text > *:not(:nth-child(1)), a.hyperLink .text > *:not(:nth-child(1)) {
  text-transform: none;
}
a.projectLink .text > *:nth-child(1), a.hyperLink .text > *:nth-child(1) {
  /* text-transform: none; */
  /* font-size: 1.25rem; */
}

a.projectLink::before, a.hyperLink::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  border: 2px solid transparent;
  pointer-events: none;
  transition: border-color 90ms;
  border-color: var(--primary);
  opacity: 1;
}

a.hyperLink::before  {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* border: 1px solid var(--secondary); */
  pointer-events: none;
  z-index: 200;
}

#projectLinksList > a {
  grid-column: 2/5;
  /* grid-row-start: 7; */
}
.waveIcon {
  display: flex;
  /* margin-bottom: 1rem; */
  overflow: hidden;
  position: relative;
  /* position: absolute; */
  /* width: 8rem; */
}

.waveIcon svg {
  fill: none;
  stroke: var(--primary);
  stroke-width: 2;
  stroke-linejoin: round;
  opacity: 0.8;
  width: 6rem;
  height: 6rem;
}
.waveIcon svg path {
  shape-rendering: geometricPrecision;
}

a.hyperLink .waveIcon svg {
  stroke: var(--secondary);
  stroke: var(--color1);
}

/* project */

.projectArticleGrid {
  display: grid;
  grid-template-columns: var(--layout-template-columns);
  column-gap: var(--layout-column-gap);
  /* test */
  /* margin-top: 5rem; */
}

.projectArticleGrid > article {
  /* display: flex; */
  grid-column: 5/9;
  column-gap: var(--layout-column-gap);
  /* grid-template-columns: 1fr 1fr; */
  column-gap: 2rem;
}

.projectArticle1, .projectArticle2 {
  transition: opacity 300ms ease, color var(--transitionParams);
  opacity: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.25rem;
  text-transform: none;
}
.projectArticle1.display, .projectArticle2.display {
  pointer-events: all;
  opacity: 1;
}

/* project info */

.projectInfo {
  text-transform: uppercase;
  /* margin-bottom: var(--layout-column-gap); */
  font-size: var(--fontsize-s);
  padding-bottom: 5rem;
  /* border-bottom: 2px solid var(--primary); */
}
.projectInfo > p {
  display: flex;
  gap: 3rem;
  line-height: 1rem;
}
article.projectArticle1 > p > span {
  /* background: var(--1secondary-onprimary); */
  /* color:#000000; */

}
/* carousel */


#carousel {
  display: grid;
  grid-template-columns: var(--layout-template-columns);
  column-gap: var(--layout-column-gap);
  
  justify-content: space-evenly;
  margin-top: 5rem;
  /* position: fixed; */
  width: calc(100% + var(--scrollBarW));
  bottom: var(--margin);
  align-items: center;
  transition: opacity 0.2s ease, color var(--transitionParams);;
  min-height: 1rem;
  padding-left: var(--margin-left);
  padding-right: var(--margin-right);
  margin-bottom: 4rem;
  animation: fadeIn 400ms;
}
#carousel.hidden {
  display: none;
}
#carousel > #counter {
  font-weight: 400;
  font-size: var(--fontsize-m);
}

/* arrows */

#carousel > *:nth-child(1) {
  grid-column-start: 5;
}
#carousel > *:nth-child(2) {
  justify-self: center;
  grid-column: 6/8;
}
#carousel > *:nth-child(3) {
  justify-self: end;
  grid-column-start: 8;
}

#carousel > button {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--paddingButton);
  min-width: 8ch;
}
#carousel button:active {
  transform: scale(0.9);
}

/* sound */

button#audioSwitch {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: end;
  gap: 0.5rem;
  height: fit-content;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  font-size: var(--fontsize-s);
  padding: 1rem 0.5rem;
  /* align-self: center; */
  /* background-color: #3658ff; */
  /* border: 2px solid transparent; */
}
button#audioSwitch > span {
  display: block;
  position: relative;
  padding: 0;
}
button#audioSwitch > span::after {
  content: "";
  position: absolute;
  left: 0;
  left: calc(50% - 2px);
  top: 0;
  width: 3px;
  height: 100%;
  transition: height 0.4s ease;
  background-color: #b12d26;
  background-color: var(--primary);
  opacity: 0.6;
}

button#audioSwitch.on > div::after {
  /* visibility: visible; */
  opacity: 1;
  animation-play-state: running;
}
button#audioSwitch.on  > span::after {
  height: 0%;
  transition: none;
}
button#audioSwitch.hidden  > span::after {
  height: 0%;
}

button#audioSwitch > div {
  height: 3rem;
  width: 2.25rem;
  /* border: 2px solid var(--primary); */
  overflow: hidden;
  position: relative;
  border-radius: 0;
}
button#audioSwitch > div::after {
  content: url("data:image/svg+xml, <svg stroke='rgb(65, 65, 65)' stroke-width='2' fill='none' width='8' height='128' viewBox='0 0 8 128' xmlns='http://www.w3.org/2000/svg'><path d='M4.00007 -4C0.000184774 -4 -4.13264e-07 -3.0598e-07 4.00007 -1.31131e-07C7.99999 4.3711e-08 7.99996 4 4.00007 4C0.000184425 4 -7.62955e-07 8 4.00007 8C7.99999 8 7.99989 12 4 12C0.000114457 12 -7.07309e-05 16 4 16C7.99992 16 7.99996 20 4.00007 20C0.000183725 20 -1.46234e-06 24 4.00007 24C7.99999 24 7.99989 28 4 28C0.000113757 28 -7.14303e-05 32 4 32C7.99992 32 7.99947 36 3.99958 36C-0.000305255 36 -0.000490443 40 3.99958 40C7.9995 40 7.9994 44 3.99951 44C-0.000375223 44 -0.000560411 48 3.99951 48C7.99943 48 7.99947 52 3.99958 52C-0.000305955 52 -0.000491142 56 3.99958 56C7.9995 56 7.9994 60 3.99951 60C-0.000375923 60 -0.00056111 64 3.99951 64C7.99943 64 7.99933 68 3.99944 68C-0.000445414 68 -6.98408e-05 72 4 72C7.99992 72 7.99989 76 4 76C0.000114997 76 -7.01905e-05 80 4 80C7.99992 80 7.99982 84 3.99993 84C4.52676e-05 84 -0.00013992 88 3.99993 88C7.99985 88 7.99989 92 4 92C0.000114298 92 -7.08899e-05 96 4 96C7.99992 96 7.99982 100 3.99993 100C4.45682e-05 100 -0.000140619 104 3.99993 104C7.99985 104 7.9994 108 3.99951 108C-0.000374683 108 -0.000559871 112 3.99951 112C7.99943 112 7.99933 116 3.99944 116C-0.000444412 116 -0.0006296 120 3.99944 120C7.99936 120 7.9994 124 3.99951 124C-0.000375382 124 -0.00056057 128 3.99951 128C7.99943 128 7.99933 132 3.99944 132'/></svg>");
  position: absolute;
  left: 0;
  top: -32px;
  height: 128px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  animation: sin linear 500ms infinite;
  will-change: transform;
  animation-play-state: paused;
  /* visibility: hidden; */
  opacity: 0.34;
}

@keyframes sin {
    0% {
    transform: translateY(8px);
    }
    100% {
      transform: translateY(-8px);
    }
}

input[type=checkbox]#soundCheckbox {    
  position: absolute;
  visibility: hidden;
  -moz-appearance: initial;
}

/* old sound button */

#muteContainer {
  position: fixed;
  bottom: var(--margin);
  right: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  pointer-events: none;
  z-index: 200;
}

label#labelMute {
  margin-right: var(--margin-right);
  display: flex;
  overflow: hidden;
  opacity: 0;
  transition: opacity .8s ease 0.2s;
  cursor: pointer;
  transform: translateY(10px);
}
label#labelMute.enabled {
  pointer-events: all;
  opacity: 1;
}
label#labelMute.enabled #muteCnv {
  transform: translateY(0);
}
#muteCnv {
  width: 86px;
  height: 86px;
  background: none;
  transition: border 0.2s;
  opacity: 1;
  transition:  border-color var(--transitionParams), transform 500ms ease-out;
  transform: translateY(100%);
}

#mute.muted ~ #muteCnv {
  opacity: 0.6;
}
label#labelMute.enabled #mute.muted::after {
  font-family: Main, Monospace;
  font-size: var(--fontsize-s);
  content: 'sound off';
  position: absolute;
  width: 1rem;
  height: 1px;
  visibility: visible;
  color: var(--secondary);
  background-color: var(--secondary)
}
label#labelMute.enabled #mute::after {
  font-family: Main, Monospace;
  font-size: var(--fontsize-s);
  content: 'sound on';
  position: absolute;
  height: 1px;
  visibility: visible;
  color: var(--primary);
}

input[type=checkbox]#mute {    
  position: absolute;
  visibility: hidden;
  -moz-appearance: initial;
}

/* progress anim */

#progressContainer {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  padding-left: var(--margin-left);
  padding-right: var(--margin-right);
  display: grid;
  grid-template-columns: var(--layout-template-columns);
  column-gap: var(--layout-column-gap);
  width: 100%;
  padding-top: calc(var(--margin) + 3.5rem);
  pointer-events: none;
  grid-template-rows: 11rem;

}

#progress {
  --multiplayerProgress: 0%;
  grid-column: 5/9;
  width: var(--multiplayerProgress);
  transition: opacity 250ms ease-in;
  position: relative;
  background-color: #00000018;
  opacity: 0.7;
  will-change: width;
  -webkit-backdrop-filter: blur(8px) invert(20%);
  backdrop-filter: blur(8px) invert(20%) hue-rotate(360deg);
    /* test */
    /* position: fixed;
    top: 0;
    width: calc(80vw * var(--multiplayerProgress));
    margin: 0 10vw;
    left: 0;
    height: 34vh; */
}

#progressContainer.hidden {
  display: none;
}

footer {
  transition: opacity var(--transitionParams);
  width: 100%;
  height: 100vh;
  /* background-color: rgb(212, 145, 210); */

  display: grid;
  grid-template-columns: var(--layout-template-columns);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: var(--layout-column-gap);
  row-gap: 5rem;
  padding: var(--margin);
  padding-right: var(--margin-right);
  padding-left: var(--margin-left);
  /* background-color: #3351EE; */
  margin-top: 44rem;
}
footer .category {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
footer .category .content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

footer.hidden {
  opacity: 0;
  pointer-events: none;
}

footer .content:not(a, .category > p) {
  font-size: var(--fontsize-m);
  font-size: 1.25rem;

}

footer > p {
  grid-row-start: 2;
  align-self: end;
}
/* footer *:nth-child(1) {
  margin-right: 2rem;
} */
footer .category > * {
  text-transform: none;
  font-size: 1.25rem;

}
footer #mailText {
  text-transform: lowercase;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

footer #mailText span:nth-child(1), footer #mailText span:nth-child(3) {
  user-select: none;
  -webkit-user-select: none;
}
footer #mailText span:nth-child(2) {
  user-select: all;
  -webkit-user-select: all;
}
/*  loading  */

section.loading {
  height: 100vh;
  display: flex;
  transition: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#soundChoiceContainer {
  position: absolute;
  display: flex;
  gap: 2ch;
  bottom: calc(var(--margin) + 1rem);
  align-items: center;
}
#soundChoiceQuestion {
  text-transform: none;
  padding: 0.2rem;
}
section.loading button {
  padding: 0.2rem;
  position: relative;
}
section.loading button.active:after {
  content: ">";
  position: absolute;
  bottom: -1rem;
  left: calc(50% - 0.5ch);
  transform: rotate(-90deg);
}

#loadingMess {
  justify-self: center;
  align-self: center;
  --loadspinAngle: 0deg;
  --loadspinAngle2: 0deg;
  --loadspinAngleOffset: 0deg;
  
  width: 6rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: none;
  user-select: none;
  position: relative;
  border: 2px solid transparent;
  transition: border-color var(--transitionParams);
}
#loadingMess.completed {
  border: 2px solid var(--primary);
  cursor: pointer;
}
#loadingMess:after, #loadingMess:before {
  content: '';
  position: absolute;
  z-index: 2001;
  top: -2px;
  left: -2px;
  width: calc(100%);
  height: calc(100%);
  width: 100%;
  height: 100%;
}
#loadingMess:after {
  mask: conic-gradient(from calc(var(--loadspinAngle) + var(--loadspinAngleOffset)),transparent,#000000);
  border: 2px solid var(--primary);
}
#loadingMess:before {
  mask: conic-gradient(from calc(4deg + var(--loadspinAngle2) + var(--loadspinAngleOffset)),transparent,#000000);
  border: 2px solid var(--color1)
}
/* three */
#three canvas {
  pointer-events: none;
}
#three {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  transition: opacity var(--transitionParams);
  /* display: none; */
}
#three.hidden {
  opacity: 0;
}
#three.front {
  z-index: 1;
}

/* dev ctrl */

#ctrl {
  font-size: 0.8rem;
  color: var(--background);
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  right: 0;
  margin: 0.4rem;
}
#ctrl::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}
#ctrl label {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  user-select: none;
}

/* vanishing */

.mask > * {
  will-change: transform;
}

@keyframes appearToTop {
  0% { transform: translateY(210%); }
  100% { transform: translateY(0%); }
}
@-webkit-keyframes appearToTop {   
  0% { transform: translateY(210%); }
  100% { transform: translateY(0%); }
}
@keyframes appearToBottom {
  0% { transform: translateY(-210%); }
  100% { transform: translateY(0%); }
}
@-webkit-keyframes appearToBottom {   
  0% { transform: translateY(-210%); }
  100% { transform: translateY(0%); }
}

@keyframes vanishToTop {
  0% { transform: translateY(0%); }
  100% { transform: translateY(-110%); }
}
@-webkit-keyframes vanishToTop {   
  0% { transform: translateY(0%); }
  100% { transform: translateY(-110%); }
}
@keyframes vanishToBottom {
  0% { transform: translateY(0%); }
  100% { transform: translateY(110%); }
}
@-webkit-keyframes vanishToBottom {   
  0% { transform: translateY(0%); }
  100% { transform: translateY(110%); }
}
@keyframes appearToRight {
  0% { transform: translateX(210%) }
  100% { transform: translateX(0%); }
}
@-webkit-keyframes appearToRight {   
  0% { transform: translateX(210%) }
  100% { transform: translateX(0%); }
}

@keyframes vanishToRight {
  /* 0% { transform: translateX(0%) translateY(-0.01em); } */
  0% { transform: translateX(0%); }
  100% { transform: translateX(210%); }
}
@-webkit-keyframes vanishToRight {   
  /* 0% { transform: translateX(0%) translateY(-0.01em); } */
  0% { transform: translateX(0%); }
  100% { transform: translateX(210%); }
}

@keyframes appearToLeft {
  0% { transform: translateX(-210%); }
  100% { transform: translateX(0%); }
}
@-webkit-keyframes appearToLeft {   
  0% { transform: translateX(-210%); }
  100% { transform: translateX(0%); }
}

@keyframes vanishToLeft {
  /* 0% { transform: translateX(0%) translateY(-0.01em); } */
  0% { transform: translateX(0%); }
  100% { transform: translateX(-210%); }
}
@-webkit-keyframes vanishToLeft {   
  /* 0% { transform: translateX(0%) translateY(-0.01em); } */
  0% { transform: translateX(0%); }
  100% { transform: translateX(-210%); }
}


@keyframes growHeight {
  0% { transform: scale(1.34); }
  100% { transform: scale(1); }
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slideOut {
    0% { transform: translateY(0%); opacity: 1; }
    99% { opacity: 1; }
    100% { transform: translateY(-110%); opacity: 0; }
}
@keyframes slideIn {   
  0% { transform: translateY(210%); }
  100% { transform: translateY(0%); }
}

@keyframes slideOutVertical {
  0% { transform: translateX(0%); opacity: 1; }
  99% { opacity: 1; }
  100% { transform: translateX(110%); opacity: 0; }
}
@keyframes slideInVertical {
  0% { transform: translateX(-210%); }
  100% { transform: translateX(0%); }
}


section.project article a::before, nav a::before {
  padding: 1rem ;
}
/* media queries */

@media (hover) {

  section.project article a:hover, nav a:hover {
    background-color: var(--primary);
    /* background-color: var(--color1); */
    color: var(--background);
  }

  section.project article a, nav a, a.projectLink .mask, a.hyperLink .mask {
    position: relative;
    overflow: hidden;
  }
  
  nav a > span, nav a::before, section.project article a > span, section.project article a::before, a.projectLink .mask > *, a.hyperLink .mask > *, a.projectLink .mask::before, a.hyperLink .mask::before {
    transition: transform 300ms ease;
  }

  section.project article a::before, nav a::before, a.projectLink .mask::before, a.hyperLink .mask::before {
    content: attr(data-text);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    font-size: inherit;
    pointer-events: none;
    color: inherit;
  }
  

  section.project article a::before, a.projectLink .mask::before, a.hyperLink .mask::before {
    transform: translateY(100%);
    /* visibility: hidden; */
  }
  nav a::before {
    transform: translateX(-100%);
    /* visibility: hidden; */
  }


  section.project article a:hover::before, a.projectLink:hover .mask::before, a.hyperLink:hover .mask::before  {
    transform: translateY(0%);
    /* visibility: visible; */
  }
  nav a:hover::before {
    transform: translateX(0%);
    /* visibility: visible; */
  }

  section.project article a:hover > span, a.projectLink:hover .text > .mask > *, a.hyperLink:hover .text > .mask > * {
    transform: translateY(-200%);
  }
  nav a:hover > span {
    transform: translateX(200%);
  }

  /* a.projectLink .mask::after, a.hyperLink .mask::after {
    content: attr(data-text);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    font-size: inherit;
    pointer-events: none;
    color: var(--secondary);
    color: #FF3D12;
    color: #D8E96B;
    color: #C0CE6A;
    color: #c9d5eb;
    color: #dfe5ff;
    color: #FF3D12;
    color: #a22408;
    color: #b12d26;
    color: var(--color1);
    color: inherit;
    opacity: 0;
  }
  a.projectLink .mask::before, a.hyperLink .mask::before {
    content: attr(data-text);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    font-size: inherit;
    color: #3351EE;
    color: #252651;
    color: inherit;
    pointer-events: none;
    opacity: 0;
  } */


  a.projectLink::after, a.hyperLink::after {
    position: absolute;
    top: 0;
    top: -1.5rem;
    right: 0.5rem;
    z-index: -1;
    opacity: 0;
    font-size: var(--fontsize-xs);
    font-size: 0.8rem;
    pointer-events: none;
    transition: opacity 0ms ease;
    width: 4.5rem;
    height: 1.5rem;
    background-color: var(--primary);
    color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
  }

  a.projectLink::after {
    content: "< open >";
  }

  a.hyperLink::after {
    content: "visit ↗";
  }

  a.projectLink:hover::after,  a.hyperLink:hover::after {
    transition: transform 200ms ease, opacity 200ms ease;
    transform: translateX(0%);
    opacity: 1;
  }

  footer a {
    position: relative;
    display: flex;
    gap: 1ch;
    overflow: hidden;
  }
  footer a::after {
    content: "↗";
    align-items: center;
    visibility: hidden;
  }
  footer a:hover::after {
    visibility: visible;
  }
  nav a::after {
    visibility: hidden;
  }
  nav a:hover::after {
    visibility: visible;
    animation: slideInVertical 300ms ease;
  }
}


@media screen and (max-width: 100rem) {
  :root { --projectNameSizeFactor: 2; }
  
  #projectLinksList > a {
    grid-column: 2/6;
  }
  .projectArticleGrid > article, #progress {
    grid-column: 4/10;
  }

  #carousel > *:nth-child(1) {
    grid-column-start: 4;
  }
  #carousel > *:nth-child(2) {
    grid-column: 5/9  }
  #carousel > *:nth-child(3) {
    grid-column-start: 9;
  }
  section.fk article > * {
    grid-column: 4/10;
  }
}

@media screen and (max-width: 75rem) {
  
  :root { --projectNameSizeFactor: 2; }

  footer {
    grid-template-columns: 1fr 1fr;
  }
  footer > p {
    grid-row-start: 3;
  }
  #projectLinksList > a {
    grid-column: 2/10;
  }
  .projectArticleGrid > article, #progress {
    grid-column: 3/11;

  }
  section.fk article > * {
    grid-column: 3/11;
  }
  /* section.fk article .container:nth-child(1) {
    grid-column: 2/10;
    grid-row-start: 1;
  }
  section.fk article .container:nth-child(2) {
    grid-column: 4/12;
    grid-row-start: 2;
  }
  section.fk article .container:nth-child(3) {
    grid-column: 3/11;
    grid-row-start: 3;
  } */

  #carousel > *:nth-child(1) {
    grid-column-start: 3;
  }
  #carousel > *:nth-child(2) {
    grid-column: 6/8;
  }
  #carousel > *:nth-child(3) {
    grid-column-start: 10;
  }
  
}

@media screen and (max-width: 45rem) {
  :root { --margin: 2rem; }
  footer {
    grid-template-columns: 1fr;
  }
  footer > p {
    grid-row-start: 4;
  }
  #projectLinksList > a {
    grid-column: 1/13;
  }
  .projectArticleGrid > article, #progress {
      grid-column: 1/13;
  }
  :root { --projectNameSizeFactor: 4; }

  #descriptionWrapper, #carousel { display: none; }

  section.fk article > * {
    grid-column: 1/13;
  }
  footer .category {
    gap: 2rem;
  }
}


html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}


#testtt {
  position: fixed;
  width: 4rem;
  height: 4rem;
  top: 0;
  left: 0;
  background-color: #6868ec;
  z-index: 800;
}