@font-face {
    font-family: "main";
    src: url(./fonts/DMMono-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "main";
    src: url(./fonts/DMMono-Light.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
}

:root {
    --0primary: #d9d9d9;
    --0background: rgb(9, 9, 9);
    --0special: rgba(9, 9, 9, 0.92);
    --0secondary: rgb(206, 255, 83);
    --0surface: rgb(40, 37, 37);
    

    --1primary: #090909;
    --1background: white;
    --1special: rgba(255, 255, 255, 0.92);
    --1secondary: rgb(255, 64, 0);
    --1surface: rgb(248, 247, 244);
    
    
    --background: var(--1background);
    --primary: var(--1primary);
    --special: var(--1special);
    --secondary: var(--1secondary);
    --surface: var(--1surface);
    --outline: var(--1outline);

    --scrollbar1: var(--background);
    --scrollbar2: var(--primary);
    --scrollbar3: var(--primary);

    --margin: 2rem;
    --transitionParams: 750ms cubic-bezier(0.13, 0.03, 0, 0.99);
    --projectLinksColumns: 3;
    --paddingButton: 0.2rem 0.4rem;

    --scrollBarW: 0px;
    --margin-right: calc(var(--margin) - var(--scrollBarW));
    --scrollY: 0px;
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}
*::selection {
    color: var(--background);
    background-color: var(--primary);
}
html {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    scrollbar-color: var(--scrollbar2) var(--scrollbar1);
}
html::-webkit-scrollbar {
    background-color:var(--scrollbar1);
}
html::-webkit-scrollbar-thumb {
    border-radius: 8px;
    box-shadow: inset 0 0 10px 10px var(--scrollbar2);
    border: solid 3px transparent;
}
html::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 10px 10px var(--scrollbar3);
}

body {
    background-color: var(--background);
    color: var(--primary); 
    font-family: Main, Monospace;
    font-weight: 400;
    margin: 0;
    overflow-x: hidden;
    font-size: 0.88rem;
    font-size: 0.75rem;
    letter-spacing: 0.04rem;
    transition: background var(--transitionParams);
    text-transform: uppercase;
    overflow-y: scroll;
}

main, header, nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

a, button {
    font-family: Main, Monospace !important;
    z-index: 200;
    color: currentColor;
    text-decoration: none;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 0.75rem;
    padding: 0.05rem;
    text-transform: uppercase;
    width: fit-content;
}

h1 {
    position: absolute;
    visibility: hidden;
}

section {
    position: absolute;
    padding: calc(var(--margin) + 6rem) var(--margin);
    padding-right: var(--margin-right);
    width: 100%;
}
section.disabled {
    position: fixed;
    top: calc(0px - var(--scrollY));
    left: 0;
    overflow: hidden;
    pointer-events: none;
}

p, h2, h3 {
    margin: 0;
}



.logo {
    z-index: 400;
    position: fixed;
    top: var(--margin);
    left: var(--margin);
    stroke: var(--primary);
    transition: stroke var(--transitionParams);
}
.logo svg {
    display: flex;
    stroke-linejoin: round;
    stroke-linecap: round;
}


/* colorbutton */

#colorButton {
    z-index: 200;
    position: fixed;
    top: calc(var(--margin) + 1px);
    right: calc(var(--margin-right) + 4vw + 4rem);
    width: 1.3rem;
    height: 1.3rem;
    height: calc(0.75rem + 0.2 rem * 2);
    transition: border-color var(--transitionParams);
    background: none;
}
#colorButton::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    background-color: var(--primary);
    height: 1px;
    background-color: var(--primary);
    transition: background var(--transitionParams);
}
#colorButton::after {
    content: '';
    display: block;
    position: absolute;
    width: 8px;
    top: -1px;
    left: 2px;
    background-color: var(--background);
    border: 1px solid var(--primary);
    height: calc(100% - 2px);
    height: 100%;
    height: 100%;
    transition: background var(--transitionParams), transform var(--transitionParams);
}
#colorButton.up::after {
    left: calc(1.3rem - 8px - 4px);
}


/* about */

#aboutLinkWrapper, #aboutBackWrapper {
    z-index: 300;
    position: fixed;
    top: var(--margin);
    right: var(--margin-right);
    display: flex;
    justify-content: center;
}
#aboutLinkWrapper a, #aboutBackWrapper a {
    transition: color var(--transitionParams), border-color var(--transitionParams);
    border-left: 1px solid var(--primary);
    padding: var(--paddingButton);
}


#aboutTitle {
    position: absolute;
    font-size: 0;
    visibility: none;
}

section.about {
    transition: color var(--transitionParams);
    display: grid;
    grid-template-columns: 44ch 1fr;
    row-gap: 2rem;
    column-gap: 4rem;
}
section.about h3 {
    font-weight: 400;
    font-size: 0.75rem;
    margin-bottom: 1rem;
}
section.about p {
    margin-bottom: 2.5rem;
}

#aboutContainer {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    transition: color var(--transitionParams);
}

#contactLinksContainer {
    display: flex;
    gap: 0.75rem;
}

#contact {
    z-index: 200;
    position: fixed;
    bottom: calc(var(--margin));
    left: var(--margin);
    transition: color var(--transitionParams);
}

#contact a {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: none;
    stroke: var(--primary);
    gap: 1ch;
    transition: stroke var(--transitionParams);
    cursor: pointer;
}

.contactIcon {
    display: flex;
}

#aboutAsciiImgContainer {
    /* width: clamp(0px, 100%, calc(90vh - var(--margin) * 2 - 6rem)); */
    width: clamp(0px, 100%, calc(80vh - var(--margin) * 2 - 6rem));
    transition: opacity 350ms, background-color var(--transitionParams);
    opacity: 0;
    /* border-radius: 6px; */
    /* background-color: rgb(243, 240, 236); */
    /* background-color: rgb(39, 39, 38); */
}

#aboutAsciiImg {
    width: 100%;
    --fontSize: 0.5rem;
    --size: 8px;
    font-size: calc(var(--fontSize) + var(--size)) !important;
    letter-spacing: calc((var(--fontSize) - 1ch)) !important;
    line-height: var(--fontSize) !important;
    overflow: hidden;
    text-align: center;
    pointer-events: all;
    -webkit-text-size-adjust: none;
}


/* info */

#info {
    margin-bottom: 8rem ;
    max-width: 14rem;
    bottom: var(--margin);
    left: var(--margin);
    text-transform: uppercase;
}


.projectName {
    display: flex;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 0;
    text-align: center;
    width: clamp(0rem, 21rem, 100%);
    letter-spacing: 0.06rem;
    font-weight: 400;
    height: 7rem;
}
.projectName > *:not(.typeTag) {
    font-size: 2rem;
}
.projectName.normalLength > *:not(.typeTag) {
    font-size: 13rem;
}
.projectName.shortLength > *:not(.typeTag) {
    font-size: 15rem;
}
.projectName.shorterLength > *:not(.typeTag) {
    font-size: 20rem;
}
.projectName.shortestLength > *:not(.typeTag) {
    font-size: 48rem;
}

.projectName .mask {
    line-height: 7rem;
    justify-content: center;
    margin-left: 0 !important;
}

a.backLink {
    display: flex;
    margin-bottom: 2rem;
    text-align: center;
    transition: color var(--transitionParams);
    width: fit-content;
}

.backLink > span > div {
    padding: var(--paddingButton);
}

#projectLinksGrid {
    display: grid;
    grid-template-columns: repeat(var(--projectLinksColumns),minmax(0,1fr));
    column-gap: 3rem;
    column-gap: clamp(3rem, 4%, 5rem);
    row-gap: 5rem;
    transition: opacity 400ms, transform 300ms ease;
    opacity: 0;
    padding-bottom: 5rem;
    min-height: 100%;
}
#projectLinksGrid.fadeIn {
    animation: fadeIn 400ms;
}
#projectLinksGrid.scaledDown {
    transform: scale(1.05);
}

a.projectLink {
    display: flex;
    width: 100%;
    flex-direction: column;
    border: 1px solid transparent;
    transform: translate(0rem, 0rem);
    transition: color var(--transitionParams), background-color var(--transitionParams), border-color 190ms ease, transform 190ms ease;
}

a.projectLink div:nth-child(2) {
    position: relative;
    width: fit-content;
    box-shadow: inset 0em 0.5em var(--background), inset 0em -0.34em var(--primary);
    transition: box-shadow 190ms ease;
}

a.projectLink::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    border: 1px solid transparent;
    transition: border-color 190ms, transform 190ms;
}

.waveIcon {
    display: flex;
    margin-bottom: 1rem;
}

.waveIcon svg {
    fill: none;
    stroke: var(--primary);
    stroke-width: 1;
    stroke-linejoin: round;
}
.waveIcon svg path {
    shape-rendering: geometricPrecision;
}

/* project */

.projectArticleGrid {
    display: grid;
    grid-template-columns: clamp(0rem, 21rem, calc(100% - var(--margin)*2)) clamp(0rem, 21rem, calc(100% - var(--margin)*2));
    column-gap: 4rem; 
    row-gap: 2rem; 
    pointer-events: none;
}

.projectArticle1, .projectArticle2 {
    transition: opacity 300ms ease, color var(--transitionParams);
    opacity: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.projectArticle1.display, .projectArticle2.display {
    pointer-events: all;
    opacity: 1;
}

/* project info */

.projectInfo {
    margin-bottom: 2rem;
}
.projectInfo > p {
    display: flex;
    gap: 3rem;
    line-height: 1rem;
}

/* carousel */

#carousel {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    width: calc(100% + var(--scrollBarW));
    bottom: var(--margin);
    padding: 0 clamp(0rem, 80%, 14rem);
    align-items: center;
    transition: opacity 0.2s ease, color var(--transitionParams);;
    min-height: 1rem;
    gap: 1rem;
}
#carousel.fadeIn {
    animation: fadeIn 400ms;
}
#carousel > #counter {
    font-weight: 400;
    font-size: 1rem;
}

/* arrows */

#carousel > button {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--paddingButton);
}
#carousel button:active {
    transform: scale(0.9);
}

/* sound */

#muteContainer {
    position: fixed;
    bottom: var(--margin);
    right: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    pointer-events: none;
    z-index: 200;
}

label#labelMute {
    margin-right: var(--margin-right);
    display: flex;
    overflow: hidden;
    opacity: 0;
    transition: opacity .8s ease 0.2s;
    cursor: pointer;
    transform: translateY(10px);
}
label#labelMute.enabled {
    pointer-events: all;
    opacity: 1;
}
label#labelMute.enabled #muteCnv {
    transform: translateY(0);
}
#muteCnv {
    width: 86px;
    height: 86px;
    background: none;
    transition: border 0.2s;
    opacity: 1;
    transition:  border-color var(--transitionParams), transform 500ms ease-out;
    transform: translateY(100%);
}

#mute.muted ~ #muteCnv {
    opacity: 0.6;
}
label#labelMute.enabled #mute.muted::after {
    font-size: 0.75rem;
    content: 'muted';
    position: absolute;
    width: 1rem;
    height: 1px;
    visibility: visible;
    color: var(--secondary);
    background-color: var(--secondary)
}

input[type=checkbox]#mute {    
    position: absolute;
    visibility: hidden;
    -moz-appearance: initial;
}

#label {
    display: flex;
}

#progressCnv {
    position: absolute;
    margin-left: var(--margin);
    top: calc(6rem + var(--margin) + 3rem + 0.5rem);
    height: calc(7rem + 1px);
    width: clamp(0rem, 22rem, calc(100% - var(--margin)*2));
    transition: opacity 250ms ease-in;
    pointer-events: none;
}


/* footer */

footer {
    position: fixed;
    bottom: var(--margin);
    width: 100%;
    display: flex;
    justify-content: center;
    transition: color var(--transitionParams);
}

img {
    width: 25%;
    height: auto;
    position: absolute;
    left: calc(50% - 12.5%);
    top: 20%;
    filter: invert(1);
    
}


/* vanishing */

.mask div {
    will-change: transform;
}

@keyframes appearToTop {
    0% { transform: translateY(210%); }
    100% { transform: translateY(0%); }
}
@-webkit-keyframes appearToTop {   
    0% { transform: translateY(210%); }
    100% { transform: translateY(0%); }
}
@keyframes appearToBottom {
    0% { transform: translateY(-210%); }
    100% { transform: translateY(0%); }
}
@-webkit-keyframes appearToBottom {   
    0% { transform: translateY(-210%); }
    100% { transform: translateY(0%); }
}

@keyframes vanishToTop {
    0% { transform: translateY(0%); }
    100% { transform: translateY(-110%); }
}
@-webkit-keyframes vanishToTop {   
    0% { transform: translateY(0%); }
    100% { transform: translateY(-110%); }
}
@keyframes vanishToBottom {
    0% { transform: translateY(0%); }
    100% { transform: translateY(110%); }
}
@-webkit-keyframes vanishToBottom {   
    0% { transform: translateY(0%); }
    100% { transform: translateY(110%); }
}
@keyframes appearToRight {
    0% { transform: translateX(210%) }
    100% { transform: translateX(0%); }
}
@-webkit-keyframes appearToRight {   
    0% { transform: translateX(210%) }
    100% { transform: translateX(0%); }
}

@keyframes vanishToRight {
    0% { transform: translateX(0%) translateY(-0.01em); }
    100% { transform: translateX(210%); }
}
@-webkit-keyframes vanishToRight {   
    0% { transform: translateX(0%) translateY(-0.01em); }
    100% { transform: translateX(210%); }
}

@keyframes appearToLeft {
    0% { transform: translateX(-210%); }
    100% { transform: translateX(0%); }
}
@-webkit-keyframes appearToLeft {   
    0% { transform: translateX(-210%); }
    100% { transform: translateX(0%); }
}

@keyframes vanishToLeft {
    0% { transform: translateX(0%) translateY(-0.01em); }
    100% { transform: translateX(-210%); }
}
@-webkit-keyframes vanishToLeft {   
    0% { transform: translateX(0%) translateY(-0.01em); }
    100% { transform: translateX(-210%); }
}


@keyframes growHeight {
    0% { transform: scale(1.34); }
    100% { transform: scale(1); }
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* media queries */

@media (hover) {
    a.projectLink::after  {
        transition: border-color 0.2s;
        opacity: 0;
    }
    a.projectLink:hover::after  {
        opacity: 0.2;
        border-color: var(--primary);
    }

    a.projectLink:hover svg  {
        transition: stroke 0.2s;
    }
     a.projectLink:hover div:nth-child(4)  {
        transition: color 0.2s;
    }

    a.projectLink div:nth-child(2) {
        box-shadow: none;
    }
    a.projectLink div:nth-child(2) {
        transition: box-shadow 0s;
    }

    a.projectLink div:nth-child(2) {
        position: relative;
    }
    a.projectLink div:nth-child(2)::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        opacity: 0;
        top: 0.1rem;
        box-shadow: inset 0em -0.34em var(--primary);
    }
    a.projectLink:hover div:nth-child(2)::before {
        transition: opacity 0.3s, top 0.15s ease;
        opacity: 0.8;
        top: 0rem;
    }
    #contact a:hover svg {
       transition: stroke 0.2s;
       stroke: var(--secondary);
    }
    a.projectContentLinks:hover {
        color: var(--secondary);
        transition: color 0.2s;
    }
}

@media screen and (max-width: 75rem) {
    #projectLinksGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 50rem) {
    :root { --margin: 1rem }
    footer { display: none; }
    #descriptionWrapper { display: none; }
    #projectLinksGrid {
        grid-template-columns: repeat(1, 1fr);
    }
    .projectArticleGrid {
        grid-template-columns: 100%;
    }
    section.about {
        grid-template-columns: 1fr;
    }
    #descriptionWrapper, #carousel { display: none; }
}
