@font-face {
  font-family: "main";
  src: url(/fonts/GeistMono-Medium.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "display";
  src: url(/fonts/Eunomia-Regular.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
}

:root {
  /* colors */

  --background: #000000;
  --primary: rgb(127, 127, 136);
  --secondary: rgb(160, 183, 179);
  --secondary: #8a9dff;
  --led: rgb(210, 236, 232);
  --led: #8a9dff;

  --three-color-background: #dddddd;
  --three-color-mesh: rgb(97, 97, 97);
  --three-color-mesh-emissive: rgb(230, 230, 230);

  --scrollbar1: var(--background);
  --scrollbar2: var(--primary);
  --scrollbar3: var(--primary);

  /* layout */

  --margin: 2rem;
  --transitionParams: 750ms cubic-bezier(0.13, 0.03, 0, 0.99);
  --projectLinksColumns: 3;
  --paddingButton: 0.8rem 0.4rem;

  --scrollBarW: 0px;
  --navHeight: 3.5rem;

  --margin-right: calc(var(--margin) - var(--scrollBarW));
  --margin-left: var(--margin);

  --scrollY: 0px;

  --fontsize-xs: 0.7rem;
  --fontsize-s: 1rem;
  --fontsize-m: 1rem;
  --fontsize-l: 2rem;
  --fontsize-xl: 4rem;
  --fontsize-xxl: 32rem;

  --layout-template-columns: repeat(12, 1fr);
  --layout-column-gap: 1rem;

  --projectNameSizeFactor: 1;

  --svg-sinus: url("data:image/svg+xml, <svg stroke='rgb(138, 157, 255)' stroke-width='2' fill='none' width='8' height='128' viewBox='0 0 8 128' xmlns='http://www.w3.org/2000/svg'><path d='M4.00007 -4C0.000184774 -4 -4.13264e-07 -3.0598e-07 4.00007 -1.31131e-07C7.99999 4.3711e-08 7.99996 4 4.00007 4C0.000184425 4 -7.62955e-07 8 4.00007 8C7.99999 8 7.99989 12 4 12C0.000114457 12 -7.07309e-05 16 4 16C7.99992 16 7.99996 20 4.00007 20C0.000183725 20 -1.46234e-06 24 4.00007 24C7.99999 24 7.99989 28 4 28C0.000113757 28 -7.14303e-05 32 4 32C7.99992 32 7.99947 36 3.99958 36C-0.000305255 36 -0.000490443 40 3.99958 40C7.9995 40 7.9994 44 3.99951 44C-0.000375223 44 -0.000560411 48 3.99951 48C7.99943 48 7.99947 52 3.99958 52C-0.000305955 52 -0.000491142 56 3.99958 56C7.9995 56 7.9994 60 3.99951 60C-0.000375923 60 -0.00056111 64 3.99951 64C7.99943 64 7.99933 68 3.99944 68C-0.000445414 68 -6.98408e-05 72 4 72C7.99992 72 7.99989 76 4 76C0.000114997 76 -7.01905e-05 80 4 80C7.99992 80 7.99982 84 3.99993 84C4.52676e-05 84 -0.00013992 88 3.99993 88C7.99985 88 7.99989 92 4 92C0.000114298 92 -7.08899e-05 96 4 96C7.99992 96 7.99982 100 3.99993 100C4.45682e-05 100 -0.000140619 104 3.99993 104C7.99985 104 7.9994 108 3.99951 108C-0.000374683 108 -0.000559871 112 3.99951 112C7.99943 112 7.99933 116 3.99944 116C-0.000444412 116 -0.0006296 120 3.99944 120C7.99936 120 7.9994 124 3.99951 124C-0.000375382 124 -0.00056057 128 3.99951 128C7.99943 128 7.99933 132 3.99944 132'/></svg>");
}

button:focus,
a:focus {
  outline: 1px dotted white;
}

#layout {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  opacity: 0.1;

  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;

  column-gap: var(--layout-column-gap);
  padding-right: calc(var(--margin-right) + var(--scrollBarW));
  padding-left: var(--margin-left);
}

#layout > div {
  background: cyan;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
*::selection {
  color: var(--background);
  background-color: var(--primary);
}
html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: Main, Monospace;
  font-weight: 400;
  margin: 0;
  overflow-x: hidden;
  font-size: 0.88rem;
  letter-spacing: 0.04rem;
  text-transform: uppercase;

  background-color: var(--background);
  color: var(--primary);
  font-size: var(--fontsize-m);
}

main,
header {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

a,
button {
  font-family: inherit;
  z-index: 200;
  color: currentColor;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: var(--fontsize-s);
  padding: 0.1rem;
  text-transform: uppercase;
  width: fit-content;
  user-select: none;
}

h1 {
  position: absolute;
  visibility: hidden;
  font-weight: 500;
}
h3 {
  font-weight: 500;
}

p,
h2,
h3 {
  margin: 0;
}

nav {
  position: fixed;
  z-index: 300;
  display: grid;
  backdrop-filter: blur(8px);
  grid-template-columns: 1fr auto;
  justify-content: end;
  align-items: center;
  min-width: 100%;
  height: var(--navHeight);
  visibility: visible;
  transform: translateY(0%);
  padding-left: var(--margin-left);
  padding-right: var(--margin-right);
  border-bottom: 1px solid var(--led);

  width: var(--navWidth);
  transition: transform var(--transitionParams);
}
nav.hidden {
  transform: translateY(-200%);
  visibility: hidden;
}

nav > div {
  grid-column: 2/2;
}

nav a,
nav button {
  height: 1.5rem;
  width: 100%;
  padding: 0 0.8rem;
  margin-bottom: 2px;
  pointer-events: auto;
  border: 1px solid var(--led);
}
nav a {
  display: flex;
  padding: 0 0.4rem;
  justify-content: space-between;
}

section {
  width: 100%;
  transition: opacity var(--transitionParams);
  padding-top: calc(var(--margin) + var(--navHeight));
  padding-right: var(--margin-right);
  padding-left: var(--margin-left);
}

section.disabled,
footer.disabled {
  position: fixed;
  left: 0;
  overflow: hidden;
  pointer-events: none;
}

#audioSwitch.on > span > span {
  transition: color 90ms;
  color: var(--led);
}

footer {
  transition: opacity var(--transitionParams);
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: var(--layout-template-columns);
  column-gap: var(--layout-column-gap);
  row-gap: 5rem;
  padding: var(--margin);
  padding-top: calc(var(--margin) + var(--navHeight));
  padding-right: var(--margin-right);
  padding-left: var(--margin-left);
}
footer .category {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
footer .category:nth-child(1) {
  grid-column: 1/5;
}
footer .category:nth-child(2) {
  grid-column: 6/13;
}
footer > p {
  grid-column: 1/13;
  align-self: end;
}
footer .category .content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

footer.hidden {
  opacity: 0;
  pointer-events: none;
}

footer .content:not(a, .category > p) {
  font-size: var(--fontsize-m);
  font-size: 1.25rem;
}

footer .category > * {
  text-transform: none;
  font-size: 1.25rem;
}

footer a {
  text-align: center;
}
footer a::after {
  content: "\2197";
  margin-left: 1ch;
  line-height: 0;
  align-items: center;
  color: var(--secondary);
}
/* page home */

section#fk {
  padding-top: calc(var(--margin));
  opacity: 0;
  margin-bottom: 44rem;
}
section#fk.noFade {
  transition: none;
}

#hero {
  display: flex;
  width: 100%;
  min-height: calc(100vh - var(--margin) * 2);
  grid-template-rows: repeat(5, max-content);
  row-gap: 0.25rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#hero > * {
  text-transform: none;
  height: 10rem;
  width: 6rem;
  border: 2px solid var(--primary);
  padding-left: 1rem;
  padding-top: 0.4rem;
}

#hero > * > *:nth-child(1) {
  font-family: display;
  text-transform: uppercase;
  font-size: 4rem;
  display: flex;
  flex-direction: row;
}

section#fk article {
  margin-top: 90rem;
  margin-bottom: 75rem;
  height: fit-content;

  display: grid;
  grid-template-columns: var(--layout-template-columns);
  column-gap: var(--layout-column-gap);
}
section#fk article h3 {
  align-self: center;
}

section#fk article > * {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

section#fk article > * > * {
  display: flex;
  flex-direction: column;
  text-transform: none;

  font-size: var(--fontsize-xl);
}
section#fk article:nth-child(2) > * {
  grid-column: 3/12;
}
section#fk article:nth-child(3) > * {
  grid-column: 4/13;
}
section#fk article:nth-child(4) > * {
  grid-column: 2/12;
}

/* page projects */

section#projects h2 {
  position: absolute;
  font-size: 0;
  visibility: none;
}

section#projects h3 {
  font-weight: 400;
  margin-bottom: 1rem;
  display: none;
}

#projectLinks {
  display: grid;
  grid-template-columns: var(--layout-template-columns);
  column-gap: var(--layout-column-gap);
  row-gap: var(--layout-column-gap);
}

#projectLinksList {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 13;
  grid-template-columns: repeat(12, 1fr);
  column-gap: var(--layout-column-gap);
  row-gap: var(--layout-column-gap);
  opacity: 0;
  padding-bottom: 6rem;
  width: 100%;
  transition: opacity 400ms;
  grid-auto-rows: 1fr;
}

#projectLinksList.fadeIn {
  animation: fadeIn 400ms;
}

a.projectLink,
a.hyperLink {
  position: relative;
  width: 100%;
  border: 1px solid transparent;
  display: flex;
  gap: 2rem;
  font-size: var(--fontsize-m);
  padding: 0.8rem;
  flex-direction: column;
}

a.projectLink .text,
a.hyperLink .text {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  height: 100%;
}

a.projectLink .text > *:nth-child(2),
a.hyperLink .text > *:nth-child(2) {
  padding-bottom: 1rem;
}

a.projectLink::before,
a.hyperLink::before {
  content: "";
  position: absolute;
  width: calc(100%);
  height: calc(100%);
  top: 0px;
  left: -1px;
  z-index: -1;
  border: 1px solid transparent;
  pointer-events: none;
  transition: border-color 90ms;
  border-color: var(--primary);
  opacity: 1;
}

#projectLinksList > a {
  grid-column: span 3;
}
#projectLinksList > a:nth-child(2) {
  grid-column: 7/10;
}
#projectLinksList > a:nth-child(4) {
  grid-column: 4/7;
}
#projectLinksList > a:nth-child(9) {
  grid-column: 7/10;
  grid-row-start: 4;
}
#projectLinksList > a:nth-child(10) {
  grid-column: 10/13;
  grid-row-start: 4;
}
#projectLinksList > a:nth-child(11) {
  grid-column: 4/7;
  grid-row-start: 5;
}

.waveIcon {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.waveIcon svg {
  fill: none;
  stroke: var(--primary);
  stroke-width: 2;
  stroke-linejoin: round;
  opacity: 0.8;
  width: 6rem;
  height: 6rem;
}
.waveIcon svg path {
  shape-rendering: geometricPrecision;
}

a.hyperLink > .waveIcon > svg {
  stroke: var(--secondary);
}
a.hyperLink::before {
  border-color: var(--secondary);
}

/* page project[] */
section.project {
  min-height: calc(100vh - var(--navHeight) - var(--navHeight));
  margin-bottom: 3rem;
}
a.backLink {
  display: flex;
  margin-bottom: 2rem;
  text-align: center;
  width: fit-content;
  height: 1.5rem;
  align-items: center;
  transition: color var(--transitionParams);
  padding: var(--paddingButton);
}

.backLink > span > div > div > span:nth-last-child(1) {
  margin-left: 0.3rem;
}
.btn-close-x {
  color: var(--secondary);
}

.projectName {
  display: flex;
  text-transform: uppercase;
  font-size: 0;
  letter-spacing: 0;
  text-align: center;
  color: var(--primary);
}

.projectName > *:not(.typeTag) {
  font-size: clamp(2rem, calc(25vw * var(--projectNameSizeFactor)), 100vw);
}

.projectName .mask {
  line-height: 11rem;
  max-height: 11rem;
  justify-content: center;
  align-items: center;
  margin-left: 0 !important;
}

.projectArticleGrid {
  display: grid;

  grid-template-columns: var(--layout-template-columns);
  column-gap: var(--layout-column-gap);
}

.projectArticleGrid > div {
  grid-column: 5/9;
  column-gap: 2rem;

  column-gap: var(--layout-column-gap);
}

.projectArticle1,
.projectArticle2 {
  opacity: 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-size: 1.25rem;
  text-transform: none;

  transition:
    opacity 300ms ease,
    color var(--transitionParams);
}
.projectArticle1.display,
.projectArticle2.display {
  pointer-events: all;
  opacity: 1;
}

.projectContentLinks {
  padding: var(--paddingButton);
  height: 1.5rem;
  line-height: 1px;
  font-size: var(--fontsize-s);
  border: 1px solid var(--led);
  color: var(--led);
}

.projectInfo {
  text-transform: uppercase;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;

  font-size: var(--fontsize-s);
  border-bottom: 1px dotted var(--led);
}

.projectInfo > p {
  display: flex;
  gap: 2rem;
  line-height: 1rem;
}

#carousel {
  display: grid;
  border-top: 1px solid var(--led);
  border-bottom: 1px solid var(--led);
  justify-content: space-evenly;
  align-items: center;
  animation: fadeIn 400ms;
  grid-template-columns: var(--layout-template-columns);
  column-gap: var(--layout-column-gap);
  padding-left: var(--margin-left);
  padding-right: var(--margin-right);
  height: calc(1.5rem + 2px);
  transition:
    opacity 0.2s ease,
    color var(--transitionParams);
  margin-bottom: calc(var(--margin));
}

#carousel.hidden {
  display: none;
}

#carousel > #counter {
  font-weight: 400;
  font-size: var(--fontsize-m);
  border-left: 1px solid var(--led);
  border-right: 1px solid var(--led);
  padding: 0px 0.4rem;
  line-height: 1.5rem;
  height: 1.5rem;
}

#carousel > *:nth-child(1) {
  grid-column: 5/6;
}
#carousel > *:nth-child(2) {
  justify-self: center;
  grid-column: 6/8;
}
#carousel > *:nth-child(3) {
  justify-self: end;
  grid-column: 8/9;
}

#carousel > button {
  height: 1.5rem;
  padding: var(--paddingButton);
  line-height: 1px;
}
#carousel > * {
  border-left: 1px solid var(--led);
  border-right: 1px solid var(--led);
  transform: translateY(-1px);
}
#carousel button:active {
  transform: scale(0.95);
}

/* misc */

/* sound */

button#audioSwitch {
  align-self: center;
  align-items: center;
  flex-direction: column-reverse;
  height: 3rem;
  overflow: hidden;
  width: fit-content;
  cursor: pointer;
  user-select: none;
  font-size: var(--fontsize-s);
  grid-row: 1/1;
  gap: 2px;
  padding: 2px;
}
button#audioSwitch > span {
  position: relative;
  display: block;
  font-size: 0.7rem;
}

button#audioSwitch.on > div::after {
  opacity: 1;
  animation-play-state: running;
}
button#audioSwitch.on > span::after {
  width: 0%;
  transition: none;
}
button#audioSwitch.hidden > span::after {
  width: 0%;
}

button#audioSwitch > div {
  height: 2rem;
  border-top: 1px dotted var(--led);
  border-bottom: 1px dotted var(--led);
  width: 1rem;
  overflow: hidden;
  position: relative;
  transform: rotate(90deg);
  margin: 0 12px;
}

button#audioSwitch > div::after {
  content: var(--svg-sinus);
  position: absolute;
  left: 0rem;
  top: -32px;
  height: 128px;
  width: 1rem;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  animation: sinus linear 500ms infinite;
  will-change: transform;
  animation-play-state: paused;
  opacity: 0.6;
}

@keyframes sinus {
  0% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(-8px);
  }
}

/* progress */

#progressContainer {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  display: grid;
  width: 100%;
  pointer-events: none;
  grid-template-rows: 11rem;

  grid-template-columns: var(--layout-template-columns);
  column-gap: var(--layout-column-gap);
  padding-left: var(--margin-left);
  padding-right: var(--margin-right);
  padding-top: calc(var(--margin) + 3.6rem + var(--navHeight));
}

#progress {
  --multiplayerProgress: 0;
  transition: opacity 250ms ease-in;
  grid-column: 5/9;
  position: relative;
  background-color: #000000aa;
  will-change: width;
  -webkit-backdrop-filter: blur(8px) invert(20%);
  backdrop-filter: blur(8px) invert(20%) hue-rotate(360deg);

  width: calc(var(--multiplayerProgress) * 1.005 * 100% + 2px);
  border-left: 1px dotted var(--led);
  border-right: calc(
      1px *
        min(var(--multiplayerProgress) * var(--multiplayerProgress) * 1000, 1)
    )
    dotted var(--led);
}

#progressContainer.hidden {
  display: none;
}

/*  loading  */

section.loading {
  height: 100vh;
  display: flex;
  transition: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 0;
}

#loadingTitle {
  display: flex;
  flex-direction: column-reverse;
  font-size: 0.8rem;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  position: absolute;
  left: calc(50% + 4rem);
  top: calc(50% - 4rem);
  user-select: none;
  transition: color 90ms;
}

#loadingButtonText {
  opacity: 0;
}

#loadingButton.ready #loadingButtonText {
  opacity: 1;
}

#soundChoiceContainer {
  position: absolute;
  display: flex;
  gap: 2ch;
  align-items: center;
  top: clamp(0rem, calc(50% + 12rem), calc(100% - 3rem));
  animation: 900ms fadeIn;
}

#soundChoiceQuestion {
  text-transform: none;
  padding: 0.2rem;
}

section.loading button {
  padding: 0.2rem;
  position: relative;
}
section.loading button.active:after {
  content: ">";
  color: var(--secondary);
  position: absolute;
  bottom: -1rem;
  left: calc(50% - 0.5ch);
  transform: rotate(-90deg);
}

#loadingButton {
  justify-self: center;
  align-self: center;
  width: 6rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: none;
  user-select: none;
  position: relative;
  overflow: hidden;
  pointer-events: none;

  border: 2px solid transparent;
  animation: none;

  transition: border-color 300ms;
}

#loadingButton.ready {
  pointer-events: auto;
  border: 2px solid var(--primary);
}
#loadingProgress.hidden {
  animation: 150ms fadeOut;
}
#loadingProgress.show {
  animation: 150ms fadeIn;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#loadingIcon {
  position: absolute;
  z-index: 2;
  stroke: var(--primary);
  stroke-width: 2px;
  padding: 0.5rem;
  top: calc(50% - 5rem);
  left: calc(50% - 6rem);
  transition: 300ms stroke;
}

#loadingButton.ready ~ #loadingIcon {
  stroke: var(--led);
}

/* three */

#three canvas {
  pointer-events: none;
}
#three {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  transition: opacity var(--transitionParams);
}
#three.hidden {
  opacity: 0;
}
#three.front {
  z-index: 1;
}

/* three ctrl */

#ctrl {
  font-size: 0.8rem;
  color: var(--background);
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  right: 0;
  margin: 0.4rem;
}
#ctrl::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}
#ctrl label {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  user-select: none;
}

/* vanishing */

.mask > * {
  will-change: transform;
}

@keyframes appearToTop {
  0% {
    transform: translateY(210%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes appearToTop {
  0% {
    transform: translateY(210%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes appearToBottom {
  0% {
    transform: translateY(-210%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes appearToBottom {
  0% {
    transform: translateY(-210%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes vanishToTop {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-110%);
  }
}
@-webkit-keyframes vanishToTop {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-110%);
  }
}
@keyframes vanishToBottom {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(110%);
  }
}
@-webkit-keyframes vanishToBottom {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(110%);
  }
}
@keyframes appearToRight {
  0% {
    transform: translateX(210%);
  }
  100% {
    transform: translateX(0%);
  }
}
@-webkit-keyframes appearToRight {
  0% {
    transform: translateX(210%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes vanishToRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(210%);
  }
}
@-webkit-keyframes vanishToRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(210%);
  }
}

@keyframes appearToLeft {
  0% {
    transform: translateX(-210%);
  }
  100% {
    transform: translateX(0%);
  }
}
@-webkit-keyframes appearToLeft {
  0% {
    transform: translateX(-210%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes vanishToLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-210%);
  }
}
@-webkit-keyframes vanishToLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-210%);
  }
}

@keyframes growHeight {
  0% {
    transform: scale(1.34);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    transform: translateY(-110%);
    opacity: 0;
  }
}
@keyframes slideIn {
  0% {
    transform: translateY(210%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slideOutVertical {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    transform: translateX(110%);
    opacity: 0;
  }
}
@keyframes slideInVertical {
  0% {
    transform: translateX(-210%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes blink {
  0% {
    background-color: var(--led);
    color: transparent;
  }
  70% {
    color: var(--background);
    background-color: none;
  }
  100% {
    color: var(--led);
  }
}
@keyframes blink2 {
  0% {
    background-color: var(--led);
    color: transparent;
    transform: translateY(-100%);
  }
  20% {
    background-color: none;
  }
  100% {
    color: var(--led);
    transform: translateY(0%);
  }
}
@keyframes blink3 {
  0% {
    background-color: var(--led);
    color: transparent;
    transform: translateX(-100%);
  }
  20% {
    background-color: none;
  }
  100% {
    color: var(--led);
    transform: translateX(0%);
  }
}
/* media queries */

@media (hover) {
  section.project article a span,
  nav a span {
    position: inherit;
  }

  nav a,
  section.project article a {
    position: relative;
    overflow: hidden;
  }
  section.project article a {
    border: 1px solid transparent;
    transition: border-color 450ms;
  }
  nav a:hover,
  .projectContentLinks:hover {
    animation: blink 190ms ease-out forwards;
    border-color: var(--led);
  }

  nav a::before,
  section.project article a::before {
    transition: transform 400ms ease;
  }

  nav a::before {
    transform: translateY(-100%);
  }
  nav a:hover::before {
    animation: blink2 350ms ease-out;
  }
  .projectContentLinks:hover::before {
    animation: blink3 350ms ease-out;
  }
  nav a::after {
    visibility: hidden;
  }
  nav a:hover::after {
    visibility: visible;
  }

  a.projectLink:hover::before,
  a.hyperLink:hover::before {
    border-color: var(--led);
  }
  a.projectLink::before,
  a.hyperLink::before {
    border-color: transparent;
  }

  a.projectLink .mask,
  a.hyperLink .mask {
    position: relative;
    overflow: hidden;
  }

  a.projectLink .mask > *,
  a.hyperLink .mask > *,
  a.projectLink .mask::before,
  a.hyperLink .mask::before {
    transition: transform 400ms ease;
  }

  a.projectLink .mask::before,
  a.hyperLink .mask::before {
    content: attr(data-text);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    font-size: inherit;
    pointer-events: none;
    color: inherit;
  }

  a.projectLink .mask::before,
  a.hyperLink .mask::before {
    transform: translateY(100%);
  }

  a.projectLink:hover .mask::before,
  a.hyperLink:hover .mask::before {
    transform: translateY(0%);
  }

  a.projectLink:hover .text > .mask > *,
  a.hyperLink:hover .text > .mask > * {
    transform: translateY(-200%);
  }

  a.projectLink::after,
  a.hyperLink::after {
    position: absolute;
    top: 2px;
    right: 1px;
    z-index: -1;
    opacity: 0;
    font-size: 0.8rem;
    pointer-events: none;
    transition: opacity 0ms ease;
    width: 4rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(100%);
    font-size: var(--fontsize-xs);
    background-color: var(--primary);
    color: var(--background);
  }

  a.projectLink::after {
    content: "open ↑";
  }

  a.hyperLink::after {
    content: "visit \2197";
    background-color: var(--secondary);
  }

  a.projectLink:hover::after,
  a.hyperLink:hover::after,
  a.projectLink:focus::after,
  a.hyperLink:focus::after {
    transition:
      transform 400ms ease,
      opacity 400ms ease;
    transform: translateY(0%);
    opacity: 1;
  }
  a.projectLink:focus::before,
  a.hyperLink:focus::before {
    border-color: rgb(72, 72, 72);
  }

  a.projectLink svg {
    stroke: var(--secondary);
  }

  footer a::after {
    visibility: hidden;
  }
  footer a:hover::after {
    visibility: visible;
  }
}

@media screen and (max-width: 100rem) {
  :root {
    --projectNameSizeFactor: 2;
    --fontsize-xl: 3rem;
  }

  .projectArticleGrid > div,
  #progress {
    grid-column: 4/10;
  }

  footer .category:nth-child(1) {
    grid-column: 1/5;
  }
  footer .category:nth-child(2) {
    grid-column: 6/13;
  }

  #carousel > *:nth-child(1) {
    grid-column: 4/6;
  }
  #carousel > *:nth-child(2) {
    justify-self: center;
    grid-column: 6/8;
  }
  #carousel > *:nth-child(3) {
    justify-self: end;
    grid-column: 8/10;
  }
}

@media screen and (max-width: 75rem) {
  :root {
    --projectNameSizeFactor: 2;
    --fontsize-xl: 2rem;
  }

  .projectArticleGrid > div,
  #progress {
    grid-column: 3/11;
  }

  #projectLinksList > a,
  #projectLinksList > a:nth-child(2),
  #projectLinksList > a:nth-child(4),
  #projectLinksList > a:nth-child(4),
  #projectLinksList > a:nth-child(9),
  #projectLinksList > a:nth-child(10),
  #projectLinksList > a:nth-child(11) {
    grid-column: span 6;
    grid-row: auto;
  }

  footer .category:nth-child(1) {
    grid-column: 1/7;
  }
  footer .category:nth-child(2) {
    grid-column: 8/13;
  }

  #carousel > *:nth-child(1) {
    grid-column: 3/6;
  }
  #carousel > *:nth-child(2) {
    justify-self: center;
    grid-column: 6/8;
  }
  #carousel > *:nth-child(3) {
    justify-self: end;
    grid-column: 8/11;
  }
}

@media screen and (max-width: 44rem) {
  :root {
    --margin: 1rem;
    --fontsize-xl: 1.5rem;
    --projectNameSizeFactor: 4;
  }

  .projectArticleGrid > div,
  #progress {
    grid-column: 1/13;
  }

  #projectLinksList > a,
  #projectLinksList > a:nth-child(2),
  #projectLinksList > a:nth-child(4),
  #projectLinksList > a:nth-child(4),
  #projectLinksList > a:nth-child(9),
  #projectLinksList > a:nth-child(10),
  #projectLinksList > a:nth-child(11) {
    grid-column: 1/13;
    grid-row: auto;
  }

  footer .category:nth-child(1),
  footer .category:nth-child(2) {
    grid-column: 1/13;
  }

  nav {
    margin-left: 0;
  }

  #descriptionWrapper,
  #carousel > *:nth-child(1) {
    grid-column: 1/6;
  }
  #carousel > *:nth-child(2) {
    justify-self: center;
    grid-column: 6/8;
  }
  #carousel > *:nth-child(3) {
    justify-self: end;
    grid-column: 8/13;
  }

  section#fk article > div {
    grid-column: 1/13 !important;
  }
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
